body {
    background: #f4f4f425;
    margin: 0;
}


.container {
    margin: 0 auto;
    border-radius: 15px;
    width: 75vw;

    padding: 16px 24px;

    background-color: rgb(249, 249, 249);

    .imagem {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    
        .logo-cefet {
            margin: auto;
            padding-top: 30px;
            padding-bottom: 3px;
            width: 15vw;
        }
    }
    
    .pages {
        display: flex;
        flex-direction: column;
    
        .btn {
            padding: 20px;
            margin: 15px auto;
            border-radius: 15px;
            width: 130px;
    
            font-size: 20px;
    
            color: black;
            background-color: #728AFB;
            
            &:hover {
                background: rgba(8, 2, 69, 0.86);
                border: 1.5px solid white;
                color: white;
            }
        }
    }

    .first-acess {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2px;
        font-size: 18px;
        text-decoration: none;
    }
}